<h1> About this Page </h1>


<p>
	<%= link_to "Github tentacle cats", "https://github.com/DigiNeko/digital-cat-nap" %>,
	I mean digital-cat nap is a project where I'm trying to learn a bit of Ruby on Rails.
	I will put a few code notes here and there about my adventure.
</p>