<h1> This experiment has only begun. We are ever evolving.</h1>

<p>
I was trying to set up ruby on rails and despite how much 'simpler' it is supposed to be... there were some things that weren't so simple.  To illustrate this I have written flash fiction.
</p>

<p> 
This is my story.
</p>

<p>
Initializing Ruby on Rails...
</p>

<p>
Danius: We meet again.  Command Line.  *Dramatic space admiral about face*
</p>

<p>
CL: "You were foolish to think that you could escape me Danius! Now, I shall have you suffer my weighty revenge!"
</p>
<p>
Danius: It is good then that we do battle on my field. SPACE! *artificial gravity is shut off and the two begin to float*
</p>
<p>
*CL charges and then fires a blast of concentrated code beam from its mouth*
</p>

<p>
The blast of code deflects off the ship's view port, scattering 1's and 0's throughout the command deck. Danius fires off a quick stream of code to dodge this devastating blast, then used the remains of his command chair as further propulsion.
</p>

<p>
Tracking his movement, CL dramatically opened up that deep black chest and unleashed a hellish blast. If the bridge's battle doors had not been dropping, the view port would have been blasted apart, and they would have been sucked into the vacuum of Space.
</p>

<p>
With due fortitude, Danius blocks this chest-beam attack. His mind reeled from the assault as he tried to dredge up archaic symbols and commands to use against this unruly beast.
</p>

<p>
He barked for assistance into his mic, causing a stream of advanced slave code to bring forth answers to his queries. His jedi-teacher's class videos came upon his Virtual Reality eye and he placed up a block of time-buying to sort out a strategy.
</p>

<p>
CL continued to blurt out vengeful code streams. The time-buyer was breaking under the onslaught. Danius could feel the sweat on his brow drifting away into the rapidly heating air. If this kept up, he would be doomed.
</p>

<p>
CL: "You thought your little VR slave codes would save you? Advancements like these are wasted on you humans! How about I take away that precious light?"
</p>
<p>
With a click of CL's teeth, the command bridge's lights went out. There was no white font. Only the black of deep space.
</p>

<p>
Danius could hear CL's progress throughout the room as the old villain chuckled at its new game of cat and mouse. Random beam blasts scoured the room, blinding the eyes. Danius used the darkness to skim from one end of the room to the next, hoping that random factors would keep him and his crumbling time-buyer alive.
</p>

<p>
The VR slave code returned with some hope. Bright technicolored search results flooded Danius' VR eye. He scanned the results and found what he was searching for. To further bolster his courage, his Jedi-tutor's video demonstrated an example in an alien language that shared enough similarities that the spell dialects would be compatible. Now all he needed was for CL to reveal itself.
</p>

<p>
There! Where that flash burned an echo in the eyes!
</p>
<p>
Directory Search complete. Inserting attack command directive...
</p>

<p>
CL: "W-What is this!? How could you find where my folders were hidden!? You're searching my version type? No! Stop!"
</p>
<p>
Danius: I have you now CL!
</p>

<p>Danius: GEM UPDATE! *ENTER* </p>
<p> 
CL: "Initializing Search and Update Sequence. W-wait! No! Aaarggh!!! Gems Located, This May Take a While- No, Danius! RaawWR!! GAO!!!"
</p>

<p>
CL's body shook as code sparks snared its body in mid air, rising and falling like lightning dancing on a pole. Vocalized series of command processes blurted out between clenched teeth.
</p>

<p>
But this, was only an update. It would only buy more time. Danius needed a plan, there was only so much he could update before the system would be immunized to the attack vector. An unreliable timer appeared, ticking away even as he sought an escape.
</p>

<p>Will our intrepid hero survive this deadly encounter?
</p>

<p>Will CL have its revenge!?
</p>

<p>What drove these too apart in the first place?
</p>

<p>And will the Starship Neko-munda, survive this ruby encrusted rail speed story!?
</p>

<p>Find out, Next time!
</p>
