

<div class="hero-unit">

	<h1> Home sweet home.</h1>

	<p>
	This experiment will be home to my ruby on rails learning adventure~
	</p>
	
	<p>
	Since you've come all this way, have a button.
	</p>
	
	<p>
		<%= link_to "Satisfaction.", "#", class: "btn btn-warning btn-large" %>
	</p>
	
	<p>
	Note: This button does nothing.  I'm sorry.
	</p>
	
</div>