<div class="footer">
	<small>
		<%= link_to "digital-cat nap", "https://github.com/DigiNeko/digital-cat-nap" %>
		by <%= link_to "Digicat", "http://www.skillshare.com/profile/Daniel-Cierpial/7555534" %>
	</small>
 </div>